mark {
  background-color: #eee;
  color: red
}
.img-span{
    margin: 0 auto;
    width:700px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 343px;
}
.img1{
    background-image: url('../../../assets/img/subject/img1.png') 
}
.img2{
    background-image: url('../../../assets/img/subject/img2.png') 
}
.img3{
    background-image: url('../../../assets/img/subject/img3.png') 
}
.img4{
    background-image: url('../../../assets/img/subject/img4.png') 
}
.img5{
    background-image: url('../../../assets/img/subject/img5.png') 
}
.img6{
    background-image: url('../../../assets/img/subject/img6.png') 
}
.img7{
    background-image: url('../../../assets/img/subject/img7.png') 
}