.easyui {
  width: calc(100% - 160px);
  float: left;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

.mydraggable {
  width: 100px;
  height: 400px;
  float: left;
  border: 1px dotted #000;
}

.mydraggable-pad {
  display: line-box;
  line-height: 400px;
  padding: 0px 5px;
  font-size: 22px;
}

.mydragitem{
  background: rgb(137, 149, 255);
  margin: 5px;
  display: inline-block;
  padding: 5px 10px;
}
