<section class="shared-content">
  <h3>观察者模式</h3>
  <article>
    <p>观察者模式有两个因素两个事件，观察者，主题，注册事件，广播事件</p>
    <fieldset>
      <legend>四种Subject</legend>
      <ol>
        <li>
          <details>
            <summary><b>Subject()</b></summary>
            <p class="text-indent-1em margin-tb-5">(1)Subject 既是 Observable 对象，又是 Observer 对象</p>
            <p class="text-indent-1em margin-tb-5">(2)当有新消息时，Subject 会对内部的 observers 列表进行组播 (multicast)</p>
            <p class="text-indent-1em margin-tb-5">(3)在特定时期注册的观察者是接收不到之前广播的数据的</p>
            <p class="text-indent-1em margin-tb-5">(4)缺点是在遍历观察者的<mark>next</mark>方法时出现未做异常处理的异常时会影响到其他的观察者</p>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <b>ReplaySubject(n)()</b>
            </summary>
            <p class="text-indent-1em margin-tb-5">(1)在新注册观察者后，能向新观察者广播最后几次广播的值</p>
            <p class="text-indent-1em margin-tb-5">(2)设定次数<mark>n</mark>，任何小于1的值视为等于1，包括<mark>null</mark></p>
            <p class="text-indent-1em margin-tb-5">(3)不设定次数<mark>n</mark>，则默认重复之前所有的广播</p>
            <p class="text-indent-1em margin-tb-5">(4)<mark>ReplaySubject(1)</mark>只是事件的回放，不等同于<mark>BehaviorSubject</mark></p>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <b>BehaviorSubject(defaultValue)</b>
            </summary>
            <p class="text-indent-1em margin-tb-5">(1)保存最新的状态，把该值作为当前值保存在内部的属性中，并向之后注册的观察者发送最新一次的值</p>
            <p class="text-indent-1em margin-tb-5">(2)<mark>BehaviorSubject</mark>与<mark>Subject</mark>最大的不同就是可以用来保存当前最新的值，而不只是单纯的广播事件</p>
          </details>
        </li>
        <li>
          <details>
            <summary>
              <b>AsyncSubject()</b>
            </summary>
            <p class="text-indent-1em margin-tb-5">(1)类似于last操作符，它会在Subject结束后发送最后一个值</p>
          </details>
        </li>
      </ol>
    </fieldset>
  </article>
</section>
