<div class="shared-content">
    <progress max="100" value="20">这是进度条</progress>
    <article>iiiii<mark>BBB</mark>iiii</article>
    <div style="text-align:center;">
        <video id="myVideo" #myVideo [controls]="controls" [width]="videoWidth" 
            style="margin-top:15px;" (contextmenu)="nomenu($event)">
          <source src="data/html5-1.mp4" type="video/mp4" />
          <source src="data/html5-1.mp4" type="video/ogg" />
          您的浏览器不支持 HTML5 video.
        </video>
        <br /> 
        <button (click)="playPause()">{{videoPaused?"播放":"暂停"}}</button> 
        <button (click)="showCtr()">{{controls?"隐藏":"显示"}}控件</button>
        <button (click)="makeBig()">大</button>
        <button (click)="makeNormal()">中</button>
        <button (click)="makeSmall()">小</button>
      </div>
      <section>
          <header style="text-align:center">
            <h1>
              欢迎来到德克园
            </h1>
          </header>
        
          <details>
            <summary>点开有惊喜</summary>
            哈哈，这是详细信息
          </details>
          <form method="POST">
            <fieldset style="text-align:center;">
              <legend>用户注册</legend>
              <ol style="text-align:left;">
                <li>
                  <label for="username">用户名</label>
                  <input type="text" name="username" id="username" pattern="[a-zA-Z0-9]{3,15}" required>
                </li>
                <li>
                  <label for="pw">密码</label>
                  <input type="password" name="pw" id="pw" required>
                </li>
                <li>
                  <label for="email">邮件</label>
                  <input type="email" name="email" id="email" required list="emaillist">
                  <datalist id="emaillist">
                    <option value="2422082778@qq.com">我</option>
                    <option value="2763340192@qq.com">你</option>
                    <option value="1962966607@qq.com">它</option>
                  </datalist>
                </li>
                <li>
                  <label for="telPhone">电话</label>
                  <input type="text" name="telPhone" id="telPhone" required pattern="[1-9][0-9]{10}">
                </li>
                <li>
                  <label for="birthday">生日</label>
                  <input type="date" name="birthday" id="birthday" required>
                </li>
                <li>
                  <label for="search">用户名</label>
                  <input type="url" name="search" required list="urllist" id="search">
                  <datalist id="urllist">
                    <option value="https://www.baidu.com">百度</option>
                    <option value="https://www.google.com">谷歌</option>
                    <option value="https://www.sina.com">新浪</option>
                  </datalist>
                </li>
                <li>
                  <input type="submit" value="确定">
                  <input type="reset" value="重置">
                </li>
              </ol>
            </fieldset>
          </form>
        </section>
        
</div>
