<div>
    <div class="navigate-bar">
        <a class="pull-left icon-wrapper">
            <span class="navbar-brand">一账通外呼自助查询系统</span>
        </a>
        <a class="icon-wrapper">
            <span class="user-icon"></span>
        </a>
        <a class="icon-wrapper" *ngIf="!isLogin" (click)="showLoginModal()">
            <span class="login-btn" [ngClass]="{'login-btn-hover': isLoging}">登陆</span>
        </a>
        <a class="icon-wrapper" *ngIf="isLogin">
            <span class="user-name">Hi，<b>{{userName}}</b></span>
        </a>
        <a class="icon-wrapper" *ngIf="isLogin" (click)="disLogin()">
            <span class="login-btn">注销</span>
        </a>
    </div>
</div>
<router-outlet></router-outlet>
<!-- <app-list *ngIf="isLogin"></app-list> -->
<div style="width:100%;height:40px;text-align:center;line-height: 40px;">
    @Copyright 平安科技.智能语音组.Design. All rights reserved.
</div>