.navigate-bar {
  text-align: right;
  height: 50px;
  color: #fff;
  width: 80%;
  margin-left: 10%;
}

.navbar-brand {
  font-size: 18px;
  padding: 6px 30px;
  line-height: 38px;
  font-weight: bold;
  cursor: text;
}

.user-icon {
  height: 24px;
  width: 24px;
  background-image: url('../assets/css/images/user.png');
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn,
.user-name {
  padding: 6px 12px;
  font-size: 16px;
  line-height: 38px;
  cursor: auto;
}

.login-btn:hover,
.login-btn-hover {
  color: #bababa;
  cursor: pointer;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(142, 142, 142, 0.35);
  text-align: center;
  position: relative;
}

.login-panel {
  width: 700px;
  height: 400px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -200px;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(67, 66, 101, 0.3);
}

.form-control {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  position: relative;
  text-align: center;
}

.form-group {
  padding: 5px 25px;
}

.diy-h3 {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.form-input {
  padding: 0px 20px;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  border: 0px;
}

.form-submit {
  padding: 0px 20px;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  border: 0px;
  background-color: #de615e;
  cursor: pointer;
  color: #fff;
}

.form-submit:hover {
  background-color: #b5302c;
}

.form-submit-disabled {
  cursor: not-allowed;
  background-color: #de615e;
}

.form-submit-disabled:hover {
  background-color: #de615e;
}

.search-bar {
  margin: 0px auto;
  margin-bottom: 10px;
  width: 80%;
  height: 100px;
  background-color: rgb(234, 245, 255);
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid rgba(27, 31, 35, 0.15);
}

.div-group {
  float: left;
  margin-right: 20px
}

.common-btn {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #31b0d5;
  border: solid #31b0d5 1px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  vertical-align: middle;
  cursor: pointer;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}

#fileChooseBtn {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  cursor: pointer;
}

#showFileName {
  text-align: left;
  border-radius: 5px;
  width: 120px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  padding: 6px 12px 6px 6px;
  background-color: #eee;
  min-height: 14px;
  border-width: 0px !important;
  margin: 0 8px 0 3px;
}

.pagination-box {
  margin-top: 20px;
  right: 20px;
  font-size: 14px;
  bottom: 20px;
}

.pagination-btn {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 1px solid #eee;
  background-color: #fff;
  float: left;
  min-height: auto;
  padding: 6px 12px;
  border-radius: 4px;
  color: #337ab7;
  position: relative;
  margin-right: 10px;
  text-decoration: none !important;
  cursor: pointer;
}

.pagination-input {
  width: 60px;
  cursor: text;
  margin-right: 2px;
  text-align: right;
  font-size: 14px;
}

.pagination-btn:hover {
  background-color: rgba(0, 0, 0, 0.1)
}

.upload-btn-disabled {
  cursor: not-allowed;
  background-color: #eee;
  border: 1px solid #eee;
}

.disabled {
  color: #eee;
  cursor: not-allowed;
}

.disabled:hover {
  cursor: not-allowed;
  background-color: #eee
}

.pagination-total {
  padding: 6px 12px 6px 0px;
  float: left;
}

.list-content {
  margin: 0 auto;
  width: 80%;
  height: 510px;;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  overflow-y: scroll;
}

.my-table {
  width: 100%;
  text-align: center;
  color: #05264c;
}

.list-row-header {
  font-weight: bold;
  background-color: rgb(234, 245, 255);
  border: 1px solid rgba(27, 31, 35, 0.15);
}

.list-row-header td {
  border-bottom: 1px solid rgba(27, 31, 35, 0.15);
  height: 50px;
  border-right: 1px solid rgba(27, 31, 35, 0.15);
}

.list-row-header td:last-child {
  border-right: 0px solid rgba(27, 31, 35, 0.15);
}

.list-row {
  font-size: 14px;
}

.list-row td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-row-double td {
  background: rgb(234, 245, 255);
  height: 30px;
}

.list-row-single td {
  background: #bef5cb;
  height: 30px;
}

.font-size-14 {
  font-size: 14px;
}
