<div>
    <div class="navigate-bar">
        <a class="pull-left icon-wrapper">
            <span class="navbar-brand">一账通外呼自助查询系统</span>
        </a>
        <a class="icon-wrapper">
            <span class="user-icon"></span>
        </a>
        <a class="icon-wrapper" *ngIf="!isLogin" (click)="showLoginModal()">
            <span class="login-btn">登陆</span>
        </a>
        <a class="icon-wrapper" *ngIf="isLogin">
            <span class="user-name">Hi，<b>{{userName}}</b></span>
        </a>
        <a class="icon-wrapper" *ngIf="isLogin" (click)="disLogin()">
            <span class="login-btn">注销</span>
        </a>
    </div>
</div>
<div class="body-bg" *ngIf="!isLogin" >
    <div class="modal"(click)="hideLoginModal()" *ngIf="isLoging">
        <div class="login-panel" (click)="stopPropagation($event)">
            <form class="form-control" (ngSubmit)="onSubmit()" role="form" #f="ngForm">
                <div class="form-group">
                    <h3 class="diy-h3">XXX系统</h3>
                    <br><br>
                </div>
                <div class="form-group">
                    <input required class="form-input" name="name" type="text" [(ngModel)]="userName" placeholder="请输入账号" />
                </div>
                <div class="form-group">
                    <input required class="form-input" name="passWord" type="password" [(ngModel)]="passWord" placeholder="请输入密码" />
                </div>
                <div class="form-group">
                    <input class="form-submit" type="submit" value="登陆" [disabled]="!(userName&&passWord)" [ngClass]="{'form-submit-disabled': !(userName&&passWord)}"
                    />
                </div>
            </form>
        </div>
    </div>
</div>

<app-list [hidden]="!isLogin"></app-list>
<div style="width:100%;height:40px;text-align:center;line-height: 40px;">
    @Copyright 平安科技.智能语音组.Design. All rights reserved.
</div>