a.icon-wrapper {
  color: #333 !important;
  text-decoration: none !important;
}

a.icon-wrapper span {
  display: inline-block;
  vertical-align: middle;
}

.navigate-bar {
  background-color: #f5f5f5;
  text-align: right;
  padding: 0px 10px;
  height: 50px;
}

.navbar-brand {
  font-size: 18px;
  padding: 6px 30px;
  line-height: 38px;
  font-weight: bold;
  cursor: text;
}

.user-icon {
  height: 24px;
  width: 24px;
  background-image: url('../assets/css/images/user.png');
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn,
.user-name {
  padding: 6px 12px;
  font-size: 16px;
  line-height: 38px;
  cursor: auto;
}

.login-btn:hover,
.login-btn-hover {
  color: #fff;
  cursor: pointer;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(142, 142, 142, 0.35);
  text-align: center;
  position: relative;
}

.login-panel {
  width: 700px;
  height: 400px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -200px;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(67, 66, 101, 0.3);
}

.form-control {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  position: relative;
  text-align: center;
}

.form-group {
  padding: 5px 25px;
}

.diy-h3 {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.form-input {
  padding: 0px 20px;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  border: 0px;
}

.form-submit {
  padding: 0px 20px;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  border: 0px;
  background-color: #de615e;
  cursor: pointer;
  color: #fff;
}

.form-submit:hover {
  background-color: #b5302c;
}

.form-submit-disabled {
  cursor: not-allowed;
  background-color: #de615e;
}

.form-submit-disabled:hover {
  background-color: #de615e;
}
