<div class="search-bar">
  <div class="div-group">
    <form id="orgin" #orginForm method="POST" enctype="multipart/form-data" name="orginForm" class="formStyle">
      <input type="" name="mark" value="1" style="display: none">
      <span class="common-btn fileinput-button">
        选择
        <input type="file" name="file" id="fileChooseBtn" required="required" (change)="selectedFileOnChanged($event)" />
      </span>
      <input id="showFileName" type="text" readonly placeholder="未选择文件..." [value]="fileName">
      <input type="button" value="上传" [disabled]="!fileName" id="submitOrgin" class="common-btn
                "
        (click)="uploadFileAction()" [ngClass]="{ 'upload-btn-disabled':(!fileName)}">
    </form>
  </div>
  <div class="div-group">
    <input class="easyui-datebox" label="查询日期:" labelPosition="left" style="width:220px;">
    <br />
  </div>
  <div class="div-group">
    <input type="button" value="查询" class="common-btn" (click)="searchForTime()">
  </div>
  <div class="div-group">
    <input type="button" value="下载" class="common-btn" (click)="downloadData()">
  </div>
  <div class="clear-fix"></div>
  <div class="div-group">
    <a (click)="chagePageBefore()" class="pagination-btn" [ngClass]="{ 'disabled':(pages?.pageNo < 2)}">上一页</a>
    <input [(ngModel)]="inputPageNo" type="input" (keyup.enter)="chagePages()" class="pagination-btn pagination-input">
    <a class="icon-wrapper pagination-total" title="总页数">/&nbsp;{{pages?.maxPageNo}}</a>
    <a (click)="chagePageNext()" class="pagination-btn" [ngClass]="{ 'disabled':(pages?.pageNo>=pages?.maxPageNo)}">下一页</a>
  </div>
</div>
<section class="list-content">
  <table class="my-table">
    <tr class="list-row-header">
      <td>记录号</td>
      <td>拨打时间</td>
      <td>联系方式</td>
      <td>联系客户次数</td>
      <td>拨打结果</td>
    </tr>
    <tr class="list-row" *ngFor="let item of items">
      <td class="list-cell">{{item?.recordId}}</td>
      <td class="list-cell">{{item?.callTime}}</td>
      <td class="list-cell">{{item?.contactInfo}}</td>
      <td class="list-cell">{{item?.attempt}}</td>
      <td class="list-cell">{{item?.visitResult}}</td>
    </tr>
    <tr *ngIf="pages?.total === 0">
      <td colspan="5"><span class="no-data"></span></td>
    </tr>
  </table>
</section>
