<div class="list-content">
    <div class="list-menu fn-clear-float">
        <a class="icon-wrapper pull-right margin-right-20" (click)="goAdd()">
            <span class="add-contract-icon"></span></a>
    </div>
    <div class="contacts-grid">
        <div id="{{contact?.id}}" class="contacts-item" *ngFor="let contact of contacts">
            <a (click)="goDetail(contact?.id)" class="icon-wrapper pull-left margin-left-20">
                <span class="user-icon"></span></a>
            <a (click)="goDetail(contact?.id)" class="user-name margin-left-20">{{contact?.name}}</a>
            <span class="user-tel margin-left-20">{{contact?.telNum}}</span>
            <span class="user-email margin-left-20">{{contact?.email}}</span>
            <a (click)="collecting(contact?.id)" class="icon-wrapper" title="{{contact?.collection?'取消收藏':'收藏'}}">
                <span class="user-collection" [ngClass]="{'collected': contact?.collection,'uncollected': !contact?.collection}"></span>
            </a>
        </div>
    </div>
    <pagination *ngIf="pageParams?.total>0" [(pageParams)]="pageParams" (changePageData)="changePageData($event)"></pagination>
</div>
