<div class="list-content">
  <a class="icon-wrapper add-contract-icon" (click)="goAdd()">
    <span></span>
  </a>
  <table class="my-table">
    <tr [id]="contact?.id" *ngFor="let contact of contacts">
      <td>
        <a (click)="goDetail(contact?.id)" class="icon-wrapper">
          <span class="user-icon"></span>
        </a>
      </td>
      <td>
        <a (click)="goDetail(contact?.id)" class="user-name">{{contact?.name}}</a>
      </td>
      <td><span class="user-tel">{{contact?.telNum}}</span></td>
      <td><span class="user-email">{{contact?.email}}</span></td>
      <td><a (click)="collecting(contact?.id)" class="icon-wrapper" title="{{contact?.collection?'取消收藏':'收藏'}}">
          <span class="user-collection" [ngClass]="{'collected': contact?.collection,'uncollected': !contact?.collection}"></span>
        </a></td>
    </tr>
  </table>
  <pagination *ngIf="pageParams?.total>0" [(pageParams)]="pageParams" (changePageData)="changePageData($event)"></pagination>
</div>
