<div class="shared-content">
    <div class="split-line-solid"></div>
    <p>1.在父级模块/子组件中注入的服务实例，后代组件共享；</p>
    <p>2.构造函数和普通函数的区别在于 调用方式 不一样；</p>
    <p><strong>例如：</strong></p>
    <div class="split-line-dotted"></div>
    <service-child1-content></service-child1-content>
    <service-child2-content></service-child2-content>
    <div class="split-line-solid"></div>
    <p>3.在子模块/子组件注入独立的服务实例，会维持单例；</p>
    <p><strong>例如：</strong></p>
    <div class="split-line-dotted"></div>
    <service-child3-content></service-child3-content>
    <service-child4-content></service-child4-content>
</div>