<section class="shared-content">
  <fieldset>
    <legend>HttpClient注解</legend>
    <ol>
      <li>HttpParams须以<b>链式</b>调用来初始化参数，params.set('test', 'test')是会返回一个<b>新的HttpParams对象</b>的</li>
      <li>
        <p>
          <details>
            <summary><b>使用POST方式时，若不指定Content-Type，则：</b></summary>
            <p class="text-indent-1em margin-tb-5">(1) Content-Type=application/x-www-form-urlencoded;charset=UTF-8</p>
            <p class="text-indent-1em margin-tb-5">(2) 参数默认格式为FormData</p>
          </details>
        </p>
      </li>
      <li>
        <p>
          <details>
            <summary><b>使用POST方式时，若指定Content-Type值，除FormData格式之外：</b></summary>
            <p class="text-indent-1em margin-tb-5">(1) Content-Type = 设定的值</p>
            <p class="text-indent-1em margin-tb-5">(2) 参数默认格式为RequestPayload</p>
          </details>
        </p>
      </li>
    </ol>
  </fieldset>
</section>
