.pagination-box{
    font-size: .8rem;
    margin: 1rem;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-btn{
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    background-position-x: 4px;
    background-position-y: 4px;
    border-radius: 50%;
}
.pagination-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2)
}
.first{
    background-image: url('../../../assets/img/pagination/first.png');
}
.before{
    background-image: url('../../../assets/img/pagination/before.png');
}
.next{
    background-image: url('../../../assets/img/pagination/next.png');
}
.last{
    background-image: url('../../../assets/img/pagination/last.png');
}
.disabled{
    color: rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
}
.disabled:hover{
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0)
}
