<div class="list-content">
  <a class="icon-wrapper go-back-icon" (click)="goList()" title="返回列表">
    <span></span>
  </a>
  <form class="form-control" (ngSubmit)="onSubmit()" role="form" #f="ngForm">
    <div class="form-group">
      <span class="form-span">姓名</span>
      <input required class="form-input" name="name" type="text" [(ngModel)]="contact.name" placeholder="请输入姓名"
        disabled />
      <a class="icon-wrapper" title="必选">
        <span class="required-tips"></span></a>
    </div>
    <div class="form-group">
      <span class="form-span">手机</span>
      <input class="form-input" name="telNum" type="text" [(ngModel)]="contact.telNum" placeholder="请输入手机号" [disabled]="!isEdit" />
      <a class="icon-wrapper" title="必选">
        <span class="required-tips"></span></a>
    </div>
    <div class="form-group">
      <span class="form-span">邮箱</span>
      <input class="form-input" name="email" type="text" [(ngModel)]="contact.email" placeholder="请输入电子邮箱" [disabled]="!isEdit" />
      <a class="icon-wrapper" title="必选">
        <span class="required-tips"></span></a>
    </div>
    <div class="form-group">
      <span class="form-span">生日</span>
      <input class="form-input" name="birthday" type="text" [(ngModel)]="contact.birthday" [placeholder]="isEdit?'请输入生日':''"
        [disabled]="!isEdit" />
    </div>
    <div class="form-group">
      <span class="form-span">地址</span>
      <input class="form-input" name="address" type="text" [(ngModel)]="contact.address"  [placeholder]="isEdit?'请输入地址':''" [disabled]="!isEdit" />
    </div>
    <div class="form-group-options" *ngIf="isEdit">
      <input class="btn-success" type="submit" value="确定" />
      <input class="btn-cancel" type="button" value="取消" (click)="edit(false)" />
    </div>
    <div class="form-group-options" *ngIf="!isEdit">
      <a class="icon-wrapper" (click)="edit(true)" title="编辑" *ngIf="!isEdit">
        <span class="edit-icon"></span>
      </a>
    </div>
  </form>
</div>
