.container{
    display: -webkit-box;
}
.myleft {
  /* box-sizing: border-box; */
  width: 200px;
  /*左边div宽度固定*/
  padding: 20px;
  background-color: orange;
}

.mycenter {
  /* box-sizing: border-box; */
  padding: 20px;
  background-color: yellow;
}

.myright {
  box-sizing: border-box;
  width: 200px;
  /*右边div宽度固定*/
  padding: 20px;
  background-color: limegreen;
}
.mytest {
  position: relative;
  margin-left: 50px;
  width: 284px;
  height: 213px;
  background-repeat: no-repeat;
  background-image: url('../../../assets/img/css3/ballade_dream.jpg');
  transform: translate3d(10px, 2px, 5px);
}
.mytest::before{
  /*设置折角实现的位置;*/
  position: absolute;
  left:0;
  bottom: 0;
  width:0;

  content:"";
  display: block;
  border: 30px solid #7201aa;
  border-color:rgba(0, 255, 0, 0.5) rgba(0, 220, 0, 0.5) transparent transparent;
  background-color: #fff;

  /*设置元素的阴影效果*/
  box-shadow:1px -2px 1px rgba(0, 0, 0, 0.5) ;
}

.mytest::after{
  /*设置折角实现的位置;*/
  position: absolute;
  right:0;
  bottom: 0;
  width:0;

  content:"";
  display: block;

  /*通过调整大小来控制折角的大小*/
  border: 60px solid #7201aa;
  border-color:rgba(0, 255, 0, 0.2) transparent transparent rgba(0, 220, 0, 0.2) ;
  background-color: #fff;

  /*设置元素的阴影效果*/
  box-shadow: -2px -3px 1px rgba(0, 0, 0, 0.5) ;
}