.header-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-center {
    margin: 0 auto;
    height: 100%;
    width: calc(15rem + 25px);
}

.contacts-link{
    font-size: 1.2em;
    padding: .6em;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    margin: .4em;
}
.contacts-link:hover , .contacts-link-current{
    cursor: pointer;
    border-bottom: 3px solid #fff;
    font-weight: bold;
}
