.gradient {
  width: 100px;
  height: 100px;
  border: 40px solid;
  /* border-image: linear-gradient(to top, #000, #fff) 30; */
  /* border-image: linear-gradient(to top left, #000, #fff) 30; */
  border-image: linear-gradient(270deg, #000, #fff) 30;
}

.polaroid {
  width: 170px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  /* Add box-shadow */
  box-shadow: 2px 2px 3px #aaaaaa;
}

.rotate-left {
  float: left;
  -ms-transform: rotate(30deg);
  /* IE 9 */
  -moz-transform: rotate(30deg);
  /* Firefox */
  -webkit-transform: rotate(30deg);
  /* Safari and Chrome */
  -o-transform: rotate(30deg);
  /* Opera */
  transform: rotate(30deg);
}

.rotate-right {
  float: left;
  -ms-transform: rotate(-30deg);
  /* IE 9 */
  -moz-transform: rotate(-30deg);
  /* Firefox */
  -webkit-transform: rotate(-30deg);
  /* Safari and Chrome */
  -o-transform: rotate(-30deg);
  /* Opera */
  transform: rotate(-30deg);
}
