.remove-option-icon {
  background-image: url('../../../assets/img/close.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 15px;
  background-position-x: 4px;
  background-position-y: 4px;
}

.remove-option-icon:hover {
  cursor: pointer;
  background-image: url('../../../assets/img/close-hover.png');
}

.btn-success,
.btn-cancel {
  display: inline-block;
  width: 5rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  margin-top: 10px;
  text-decoration: none;
  background-color: rgba(86, 195, 246, 1);
  cursor: pointer;
  color: #fff;
}

.btn-success:hover,
.btn-cancel:hover {
  background-color: #fff;
  color: #000;
}

.form-div-box {
  width: 320px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
