.grid-container{
    /*  rem根据浏览器根元素字体大小来换算，
        所有浏览器默认字体16px，即 1rem = 16px */

    display: grid; /* 网格项目按行排列并在不设置宽度的情况下占用容器百分百的宽度 */
    
    display: inline-grid; /* 网格项目按行排列并在不设置宽度的情况下自身决定宽度 */
    
    grid-template-columns: 50px 100px 100px; /* 定义列宽，这里每行会有三列 */

    grid-template-rows: 50px repeat(2,60px) 100px;  /* 定义行高，repeat表示重复两次，每次10px行高 */

    grid-gap: 32px 2rem;  /* 网址间隙*/
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    font-size: .8em;
    padding: .75rem;
    color: blue;
    background-color: green;
}
